.writer_block{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 45px 200px 100px 200px;
}

.writer_abstract{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 260px;
    padding: 10px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 12px;
}

.writer_abstract_image{
    display: flex;
    width: 100%;
    height: 150px;
}

.writer_abstract_image img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.writer_abstract_followers{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}

.writer_abstract_followers_first{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 65%;
    justify-content: space-between;
}

.writer_abstract_userinfo{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.writer_abstract_userinfo_avatar{
    width: 75px;
    height: 75px;
}

.writer_abstract_userinfo_avatar img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.writer_abstract_userinfo_name{
    display: flex;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto";
    align-items: center;
    height: 100%;
    padding-left: 15px;
}

.writer_abstract_menus{
    display: flex;
    flex-direction: row;
    width: 405px;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.writer_abstract_menus_rate{
    display: flex;
    flex-direction: row;
    width:33%;
    justify-content: space-around;
}

.writer_abstract_menus_follows{
    display: flex;
    flex-direction: row;
    width:33%;
    justify-content: space-around;
}

.writer_abstract_menus_post{
    display: flex;
    flex-direction: row;
    width:33%;
    justify-content: space-around;
}

.writer_abstract_menus_text{
    width: 80%;
}

.writer_abstract_menus_text span{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.writer_abstract_foolow_button{
    display: flex;
    width: 105px;
    height: 40px;
    background-color: rgba(248, 21, 57, 0.75);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 12px;
    margin-left: 195px;
}

.writer_latest_post{
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 45px;
    flex-direction: column;
    padding-bottom: 45px;
}

.writer_index-ppfs-post-card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.writer_latest_post >.writer_index-ppfs-post-card >.index-ppfs-post-card {
    height: auto;
}

.writer_latest_post >.writer_index-ppfs-post-card >.index-ppfs-post-card>img{
    height: 190px;
}

.writer_latest_post >.writer_index-ppfs-post-card >.index-ppfs-post-card >.index-contributor{
    display: flex;
}


/* .profilemarked_abstract_menus_text_txt.txt_active{
    border-bottom: solid 1px black;
    cursor: pointer;
} */